**/target/
**/node_modules/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/bin/
**/bin/
**/package-lock.json

**/private-key.txt
**/public-key.txt
/.vs
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/.vs/PopTokenBuilderSolution/DesignTimeBuild
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/.vs/PopTokenBuilderSolution/v16
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/com.tmobile.oss.security.taap.poptoken.builder/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/com.tmobile.oss.security.taap.poptoken.builder.test/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder.test/obj/Debug/netcoreapp3.1
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder.test/obj/Release/netcoreapp3.1
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder.test/obj
/encryption-lib/CS-Encryption-Lib/encyption-lib/obj/Debug
/encryption-lib/CS-Encryption-Lib/encyption-lib-core/obj
/encryption-lib/CS-Encryption-Lib/encyption-lib-core.test/obj
/encryption-lib/CS-Encryption-Lib/encyption-lib.test/obj/Debug
/encryption-lib/CS-Encryption-Lib/encyption-lib/obj/Release
/encryption-lib/CS-Encryption-Lib/encyption-lib.test/obj/Release
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication/obj
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication/Example_Asp.Net_Mvc_WebApplication.csproj.user
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder/poptoken.builder.csproj.user
/encryption-lib/CS-Encryption-Lib/encyption-lib_4.5.2/obj
/encryption-lib/CS-Encryption-Lib/encyption-lib_4.5.2/encyption-lib_4.5.2.csproj.user
/encryption-lib/CS-Encryption-Lib/encyption-lib_4.5.2.test/obj
/encryption-lib/CS-Encryption-Lib/encyption-lib_4.5.2.test/encription-lib_4.5.2.test.csproj.user
/encryption-lib/CS-Encryption-Lib/Example_WindowsFormsApp/obj/Debug
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication_4.5.2/obj
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication_4.5.2/Example_Asp.Net_Mvc_WebApplication_4.5.2.csproj.user
/encryption-lib/CS-Encryption-Lib/encyption-lib/encyption-lib_4.8.nuspec
/encryption-lib/CS-Encryption-Lib/encyption-lib/com.tmobile.oss.security.taap.jwe_4_8.1.0.0.nupkg
/encryption-lib/CS-Encryption-Lib/encyption-lib/encription-lib_4_8.csproj.user
/encryption-lib/CS-Encryption-Lib/encyption-lib.test/encription-lib_4_8.test.csproj.user
/encryption-lib/CS-Encryption-Lib/encyption-lib_4.5.2/encyption-lib_4.5.2.nuspec
/encryption-lib/CS-Encryption-Lib/encyption-lib_4.5.2/com.tmobile.oss.security.taap.jwe_4_5_2.1.0.0.nupkg
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication_4.8/obj
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication_4.8/Example_Asp.Net_Mvc_WebApplication_4.5.2.csproj.user
/encryption-lib/CS-Encryption-Lib/Example_Asp.Net_Mvc_WebApplication_4.8/Example_Asp.Net_Mvc_WebApplication_4.8.csproj.user
/poptoken-lib/poptoken-validator/cs-lib-tmobile-oss-poptoken-validator/poptoken-validator.MSTest/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/.vs/PopTokenSolution/v16/.suo
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/.vs/PopTokenSolution/config/applicationhost.config
