**/target/
**/node_modules/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/bin/
**/bin/
**/package-lock.json

**/private-key.txt
**/public-key.txt
/.vs
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/.vs/PopTokenBuilderSolution/DesignTimeBuild
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/.vs/PopTokenBuilderSolution/v16
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/com.tmobile.oss.security.taap.poptoken.builder/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/com.tmobile.oss.security.taap.poptoken.builder.test/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder/obj
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder.test/obj/Debug/netcoreapp3.1
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder.test/obj/Release/netcoreapp3.1
/poptoken-lib/poptoken-builder/cs-lib-tmobile-oss-poptoken-builder/poptoken.builder.test/obj
